<div *ngFor="let recette of recipes" class="p-0 m-3 card col-md-4 mt-3 w-25" style="width: 15rem;">
    <div class="card-body">
        <h5 class="card-title text-center">{{ recette.title }}</h5>
        <p class="card-text">{{ recette.description }}</p>
    </div>
    <div class="card-body">
        <a class="card-link btn btn-success">Voir la recette</a>
        <a [routerLink]="['/formRecipe',recette.id]" class="card-link btn btn-success">Modifier</a>
        <a (click)="delete(recette.id)" class="card-link btn btn-success">Supprimer</a>
    </div>
</div>

